[submodule "apps/djangoproject.com"]
	path = apps/djangoproject.com
	url = git@github.com:django/djangoproject.com.git
	branch = main
[submodule "apps/posthog"]
	path = apps/posthog
	url = git@github.com:PostHog/posthog.git
	branch = master
[submodule "apps/NewsBlur"]
	path = apps/NewsBlur
	url = git@github.com:samuelclay/NewsBlur.git
	branch = master
[submodule "apps/reviewboard"]
	path = apps/reviewboard
	url = git@github.com:reviewboard/reviewboard.git
	branch = master
[submodule "apps/readthedocs"]
	path = apps/readthedocs
	url = git@github.com:readthedocs/readthedocs.org.git
	branch = main
[submodule "apps/ArchiveBox"]
	path = apps/ArchiveBox
	url = git@github.com:ArchiveBox/ArchiveBox.git
	branch = dev
