[submodule "apps/djangoproject.com"]
	path = apps/djangoproject.com
	url = git@github.com:django/djangoproject.com.git
	branch = main
[submodule "apps/posthog"]
	path = apps/posthog
	url = git@github.com:PostHog/posthog.git
	branch = master
[submodule "apps/NewsBlur"]
	path = apps/NewsBlur
	url = git@github.com:samuelclay/NewsBlur.git
	branch = master
[submodule "apps/reviewboard"]
	path = apps/reviewboard
	url = git@github.com:reviewboard/reviewboard.git
	branch = master
[submodule "apps/readthedocs"]
	path = apps/readthedocs
	url = git@github.com:readthedocs/readthedocs.org.git
	branch = main
[submodule "apps/ArchiveBox"]
	path = apps/ArchiveBox
	url = git@github.com:ArchiveBox/ArchiveBox.git
	branch = dev
[submodule "apps/librephotos"]
	path = apps/librephotos
	url = git@github.com:LibrePhotos/librephotos.git
	branch = dev
[submodule "apps/doccano"]
	path = apps/doccano
	url = git@github.com:doccano/doccano.git
	branch = master
[submodule "apps/djangopackages"]
	path = apps/djangopackages
	url = git@github.com:djangopackages/djangopackages.git
	branch = main
[submodule "apps/askbot-devel"]
	path = apps/askbot-devel
	url = git@github.com:ASKBOT/askbot-devel.git
	branch = master
[submodule "apps/kitsune"]
	path = apps/kitsune
	url = git@github.com:mozilla/kitsune.git
	branch = main
